.el-aside {
  background-color: #000C29;
}

.submenu {
  width: 200px;
  border: 0px !important;
}

.el-menu {
  border: 0px !important;
}

.el-submenu__title:hover,
.el-menu-item:hover {
  background: #001446 !important;
}

.el-header {
  background-color: #B3C0D1;
  color: #333;
  line-height: 60px;
}

